.btn-remove {
	display: none;
	padding: 0;
	margin: 0;
}

.student:hover .btn-remove {
	display: inline-block;
}

.student-song {
	position: relative;
}

.student-song .btn-remove {
	position: absolute;
	top: 2px;
	right: 15px;
	margin: 0;
	padding: 2px 10px;
}

.student-song:hover .btn-remove {
	display: inline-block;
}

.resource {
	position: relative;
}

.resource .btn-remove {
	position: absolute;
	top: 2px;
	right: 15px;
	margin: 0;
	padding: 2px 10px;
}

.resource:hover .btn-remove {
	display: inline-block;
}